<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>添加覆盖物BaiduMap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>312BF16C1D0A59450030CED5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>312BF1851D0A59450030CED5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>312BF1901D0A59450030CED5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
